.cube {
    position: fixed;
    width: 200px;
 }
 /*These are the individual faces of the cubes*/
 .cube1 {
    width: 100px;
    height: 50px;
    background: #1A4341;
    transform: rotate(45deg) skew(45deg);
    position: fixed;
    left: 177px;
    top: 82px;
    animation: breatheRight 2000ms infinite;
 
    }
 .cube2 {
    width: 100px;
    height: 50px;
    background: #998235;
    transform: rotate(-45deg) skew(-45deg);
    position: fixed;
    left: 105px;
    top: 85px;
    animation: breatheLeft 2000ms infinite;
    }
 .cube3 {
    width: 100px;
    height: 100px;
    background: #F3AC3C;
    transform: rotate(45deg);
    position: fixed;
    left: 141px;
    top: 128px;
    animation: breatheDown 2000ms infinite;
    }
       /*These are the animations for cube breathing*/
   @keyframes breatheRight {
        0%,
        100% {
        transform: translateX(5px) rotate(45deg) skew(45deg);
        }
    50% {
        transform: translateX(0px) rotate(45deg) skew(45deg);
        }
    }
    @keyframes breatheLeft {
        0%,
        100% {
        transform: translateX(-5px) rotate(-45deg) skew(-45deg);
        }
        50% {
        transform: translateX(0px) rotate(-45deg) skew(-45deg);
        }
    }
    @keyframes breatheDown {
        0%,
        100% {
        transform: translateY(5px) rotate(45deg);
        }
        50% {
        transform: translateY(0px) rotate(45deg);
        }
    }